<div class="modal-backdrop" (click)="closePopup()"></div>
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Encuesta de Preferencias</h5>
  </div>
  <div class="modal-body">
    <p>
      ¡Descubre libros que amarás! Esta encuesta te ayudará a recibir
      recomendaciones personalizadas basadas en tus gustos. Podrás repetir esta
      encuesta siempre que lo desees.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closePopup()">Cancelar</button>
    <button class="btn btn-primary" (click)="proceed()">Comenzar</button>
  </div>
</div>
