<footer class="bg-dark text-white text-center py-4">
  <p class="mb-2">© 2024 Bookwise</p>
  <div>
    <!-- Iconos de redes sociales -->
    <a href="https://facebook.com" target="_blank" class="text-white mx-2">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
    <a href="https://twitter.com" target="_blank" class="text-white mx-2">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    <a href="https://instagram.com" target="_blank" class="text-white mx-2">
      <i class="fab fa-instagram fa-lg"></i>
    </a>
    <a href="https://linkedin.com" target="_blank" class="text-white mx-2">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
  </div>
</footer>
